neural-pipeline-search
matplotlib==3.5.2
numpy
pytest==7.1.2
pycodestyle==2.8
scipy==1.8
scikit-learn==1.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cpu
torchvision
pyyaml
huggingface_hub
tqdm
timm
wandb